{% extends 'base.html.twig' %}

{% block title %}Insère un animal{% endblock %}

{% block body %}

    <h3>TEST</h3>

    {{ form_start(animalForm, { attr: { 'data-turbo': 'false' } }) }}


    {{ form_widget (animalForm)}}
    <input type="submit" value="Insert">

    {{ form_end (animalForm)}}


{% endblock %}
